.company {
    margin-top: 653px;
    margin-left: 85px;
}
.company-title {
    text-align: center;
    margin-left: -100px;
    margin-top: 20px;
    font-weight: 700;
    font-size: 20px;
    color: #2f2f51;
    margin-bottom: 25px;

}

.company-nav {
     align-items: center ;
     margin-left: 272px;
    }
    .company-baner__logo1 {
        
        margin-top: 46px;
        margin-left: 50px;
    }
    .company-nav-list {
        margin: 0;
    list-style: none;
    align-self: stretch;
    margin-left:-40px;
    }
    .company-nav_list {
        margin-right: 50px;
    }
    .company-nav,.company-nav-list {
        display: flex;
    }
    .company-nav_list {
        margin-left: -40px;
    }
    .company-nav_list > a {
       
        text-decoration: none;
        color: black;
        display: flex;
        align-items: center;
        height: 100%;
        padding:8px 25px 8px 25px;
    }
    .company-nav_list > a:hover {
        color:#FFFFFF;
        background-color: #EF7F04;
    }
    .company-baner {
        position: relative;
        margin-top: 75px ;
        margin-left:-33.5px;
        Width:1200px;
        Height:460px;
        background-color: #FFFFFF;
    }
    .company__text {
        position: absolute;
width: 304.79px;
height: 214px;
left: 255px;
top: 245px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
/* or 138% */


color: #000000;

    }
    .company-baner__foto {
       
position: absolute;
width: 569.5px;
height: 460px;
left: 630.5px;
top: 0px;

background: url(../img/фото1.png);
border-radius: 3px; 
    }
    .company-text {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        margin-top: 65px;

    }
   .company-characteristics {
    margin-top: 68px;
    margin-left:0px;
   }
   .company-text__point_a {
    position: relative;
    margin-right: 60px;
   }
   .company-text__point_b{
    margin-right: 60px;
   }
   .company-text__point_c {
    margin-right: 60px;
   }
   .company-text__point_d {
    margin-right: 60px;
   }
   .company-text__point_e {
margin-left: 25px;
   }
   .company-text__point_f {
    margin-left: 90px;
   }
   .company-text__a {
    position:absolute;
    top:0px; 
    left:0px;
    width: 150px;
   }
   .company-text__p{
    margin-left: 45px;
   }
   .company-btn {



position: absolute;
width: 312px;
height: 55px;
left: 390px;
top: 158px;

background: #EF7F1A;
border-radius: 3px;
border: #FFFFFF;
   }
.company-btn__logo {
    margin-left: -235px;
}


.company-btn__text {
position: absolute;
width: 258px;
height: 65px;
left: 37px;
top: 15px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;



color: #FFFFFF;
   }