.footer {
    
    height: 146px;
    background-color:#2F2F51 ;
    margin-top:  703px;
}
.footer_logo {

    padding-top: 35px;
     

}
.footer-list {
    display: flex;
}
.footer-list_point1 {
    padding: 68px 120px 68px 20px;
    padding-left: 20px;
    margin-right: 300px;
}
.footer-list_point2 {
    padding-top: 68px;
   
}