@media screen and (max-width: 992px){
    .container {
        
        width: 880px;
        margin: 0 auto;
        padding: 0 60px;
    } 
    .header-nav .header__button1{
        margin-left: 98px;
    }
    .header-nav_burger{
        position: relative;
        display: block;
        width: 50px;
        height: 8px;
        font-family: FontAwesome;
        background-color: #ef7f04;
    }
    .header-nav_burger::before {
        content: "";
        position: absolute;
        display: block;
        width: 50px;
        height: 8px;
        top: 12px;
        background-color: #ef7f04;
    }
    
    .header-nav_burger::after {
        content: "";
        position: absolute;
        display: block;
        width: 50px;
        height: 8px;
        bottom:  12px;
        background-color: #ef7f04;
    }
    
}

@media screen and (max-width: 992px){
    .form-type{
    display: none;
}
.container1 {
    width: 992px;
}
 .manifest {
    padding: 100px 0;
 }   
 .manifest-input {
    width: 176px;
    margin-right: 25px;
 }
 .manifest-input  .manifest-input_picture1{
    margin-left: -15px;
 }
 .manifest-input .c {
    width: 176px;
 }
}
@media screen and (max-width: 992px){
    .header-nav-list__line .header__link{
        display: none;
    }
}
@media screen and (max-width: 992px){
   .header-nav-logo2{
    display: block!important;
    margin-right: 35px;
   }
}
@media screen and (max-width: 992px){
    
    .services .services-title{
        margin-left: -270px;
        margin-top: -165px;
        font-weight: 700;
        font-size: 20px;
        color: #2f2f51;
        margin-bottom: 123px
    }
    .services .services-maine {
;
    }
  
    .services-maine .instalation {
        position: absolute;
        background-image: url(../img/установка.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        width: 617px;
        height: 228px;
        margin-left: 109px;
        top:720px ;
     
    }

    .services-maine .glasing-balcony{
        background-image: url(../img/балконы.jpg);
        background-repeat: no-repeat;
        background-size: 770px auto;
        background-position: -20px -20px;
    position: absolute;
    width: 617px;
    height: 228px;
    left: 199px;
    top: 983px;
  
    }
    .services-maine .glasing-cottege {
        background-image: url(../img/дачи.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        width: 617px;
        height: 228px;
        left: 199px;
        top: 1247px;
       
    }
    .services-maine .glasing-corp {
        background-image: url(../img/корп.объект.jpg);
background-repeat: no-repeat;
background-size: cover;
position: absolute;
width: 617px;
height: 228px;
left: 199px;
top: 1511px;

    }
}
@media screen and (max-width: 992px){
   .company {
    padding-top: 420px;
   
   }
   .company .company-baner {
    margin-left: -105px;
    width: 880px;
    height: 461px;
   }
   .company .company-title {
    text-align:initial;
    margin-left: 310px;
   }
   .company .company-nav{
    margin-left: 52px;
   }
    .company-baner .company__text {
        padding-top: 0px;
        margin-left: -135px;
    }
    .company-baner .company-baner__foto {
        position: absolute;
width: 447px;
height: 461px;
        margin-top: 0px;
        margin-left: -198px;
        background-image:url(../img/фото2.png);
    }
    .company-text .company-btn {
        margin-top: 260px;
        margin-left: -455px;
    }
    .company-characteristics .company-text .company-text__point_a {
left: -40px;
    }
    .company-characteristics .company-text .company-text__point_b {
        margin-left: 60px;
    }
    .company-characteristics .company-text .company-text__point_c {
        margin-top: 170px;
        margin-left: -840px;
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .company-characteristics .company-text .company-text__point_d {
        margin-top: 105px;
        margin-left: 210px;
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .company-characteristics .company-text .company-text__point_e {
        margin-left: -810px;
        margin-top: 260px;
        margin-right: 40px;
    }
    .company-characteristics .company-text .company-text__point_f {
        margin-top: 260px;
        margin-right: 0px;
        margin-left: 198px;
    }
   
    }
@media screen and (max-width:992px)
{
    .portfolio {
        
    }
    .container .portfolio-windows {
        
        width: 880px;
        margin-left: 200px;
    }
    .portfolio-window .portfolio__window {
        margin-right: 20px;
    }
    .portfolio-window .portfolio__window:last-child {
    display: none;
    }
    .container .question-form {
        margin-top: 0px;
        width: 880px;
        margin-left:30px;
    } 
    .question-form {
       
        margin-top: 00px;
    }
    .question-survey .question-form__point {
        width: 800px;
        margin-left: 30px;
    }
    .question-form .question-form__title {
        margin-left: 350px;
    }
    .question-survey .question-form__point summary:after {
        content: url(../img/стрелка\ вниз.png);
        position: absolute;
        right:  60px;
        padding-top: 20px;
    }
    .question-survey .question-form__point>summary:not(question-form__point[open]>summary):hover:after {
        content:url(../img/стрелка\ оранж.png) ;
        position: absolute;
        right: 60px;
        padding-top: 20px;
    }
}
@media screen and (max-width:992px){
    .body .footer {
        
        height: 100px;
        margin-top: 20px;
    }
    .footer-list .footer-list_point1 {
       margin-right: -30px;
    }
}
