.portfolio {
    margin-top: 185px;
    margin-left: -220px;
}
.portfolio-windows {
    width: 1200px;
    Height:410px;
    Radius:3px;
    background-color: #FFFFFF;
    margin-left: 120px;
}
.portfolio__title {
    text-align: center;
    padding-top: 50px;
    font-weight: 700;
    font-size: 20px;
    color: #2f2f51;
    margin-bottom: 25px;
 
}
.portfolio-window {
    margin-left: 98px;
display: flex;
   
}
.portfolio__window {
    margin-right: 49.11px;
}

 
.question-form {
    
position: absolute;
width: 1200px;
height: 701.5px;
left:10px;
top:0px;

background: #EF7F1A;
border-radius: 7px;

}
.question-form__title {
    position: absolute;
    width: 156px;
    height: 28px;
    margin-left: 516px;
    padding-top: 50px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    
    color: #FFFFFF;
    
}
.question-form__point {
   
    width: 898px;
height: 52px;
margin-left: 138px;
padding: 8px 0px 8px 19px;
font-size: 18px;
margin-bottom: 8px;
 
background-color: #EEEEF3;
cursor: pointer;
}
summary {
    display: block;
}
.question-form__point summary:after {
   content: url(../img/стрелка\ вниз.png);
   position: absolute;
   right:  200px;
   padding-top: 20px;
}
.question-form__point[open] summary:after {
    transform: rotate(180deg);
}
.question-form__point:hover {
color: #EF7F1A;    
}
.question-form__point>summary:not(question-form__point[open]>summary):hover {
    color: #EF7F1A;
}
.question-form__point>summary:not(question-form__point[open]>summary):hover:after {
    content:url(../img/стрелка\ оранж.png) ;
    position: absolute;
    right: 200px;
    padding-top: 20px;
}
.question-survey {
    margin-top: 148px;
}
.question-form__point:hover {
    background-color: #FFFFFF;
}
  
