body {
    font-family: 'Roboto',sans-serif ;background-color: #E2E2E2;
}
h1,h2,p {
    font-family: Roboto;
}
.container {
    position: relative;
    width: 100%;
    width: 1200px;
    margin: 0 auto;
}

.header {
  position: fixed;
  top:0;
  left:0;
  right:0;
  padding: 17px 0;
background-color:#FFFFFF;
   
}
.header-nav,.header-nav-list {
    display: flex;
}
.header-nav {
    align-items: center ;

}
.header-nav-list {
    margin: 0;
    list-style: none;
    align-self: stretch;
}
.header-nav-list2{
  display: none;
  list-style-type: none;
  width: 150px;	height: 200px;
  background: rgb(209, 208, 203); 
  outline: 2px solid #000;  
  border-radius: 10px;
  padding-top: 20px; 
  padding-left: 45px;
  margin-left: -65px;
   margin-top: 15px;
}
.header-nav_burger{
    list-style-type: none;
}
.header-nav_burger:active~.header-nav-list2,.header-nav-list2:hover {
    display: block; 

}

.header-nav-list__line2 {
    margin-bottom: 10px;
}
.header-nav-list__line2 > a:hover {
    color: #EF7F04;
    border-top: 4px solid #EF7F04;
   
}
.header-nav-list__line {
    margin-right: 22px;
}
.header-nav-list__line> a {
text-decoration: none;
color: black;
display: flex;
align-items: center;
height: 100%;
border-top: 4px solid transparent;
}
.header-nav-list__line > a:hover {
    color: #EF7F04;
    border-top: 4px solid #EF7F04;
}
.header-nav__logo{
    margin: 17px 0px;
    margin-right:22px ;
}
.header-nav-logo2{
    display:none
}
.header-nav__logo2:after{
   
   
    margin-left: 8px;
    font-family: FontAwesome;
   
}


.header__button1 {
    display: flex;
    margin-left: 13px;
    align-items: center;
    padding: 10px 19px 12px 14px;
    color: white;
    border: white;
    border-radius: 3px;
    font-weight: 700;
    background-color: #EF7F04;
}
.header-nav > header__button1 {
    margin-top: 8px;
}
.header__button1 > svg {
    margin-right: 13px;
}
.header__btn {
     display: flex;
    margin-left: 13px;
    align-items: center;
    padding: 10px 19px 12px 14px;
    color: white;
    border: white;
    border-radius: 3px;
    font-weight: 700;
    background-color: #303a63 ;
}
.header__link {
    text-decoration: none;
    color: #4B67AF;
}
.container1 
    {
        align-content: center;
    
        background: url(../img/фон.jpg);
        background-repeat: no-repeat;
        margin-top:-15px;
        margin-bottom: 20px;
      
        height: auto;
    }
    
.form-type {
    
   position: absolute;
width: 406px;
height: 428px;
left: 705px;
top: 73px;
background: #FFFFFF;
box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
border-radius: 10px;
}
.form-type>img {

    position: absolute;
    left: 6px;
    bottom: 17px;
    width: 465px;
}
.form-type_point {

margin-top: 40px;
}
.i{
    margin-left: -5px;
    margin-top: -10px;
}
.form__title {
    margin-top:33px;
    margin-left: 95px;
   margin-bottom: 20px;
}
.form-type>input {
    background: #E2E2E2;
    border-radius: 3px;
    border: white;
    margin: 10px;
    padding: 15px 122px 15px 16px;
    margin-left: 50px;
}
.form-type>button {
    padding: 19px 39px 19px 40px;
}
.form__btn {
     display: flex;
    margin-left: 103px;
    align-items: center;
    padding: 10px 19px 12px 14px;
    color: white;
    border: white;
    border-radius: 3px;
    font-weight: 700;
    background-color: #EF7F04;
}
.form-block {
    margin-top: 15px;
}

.call-to-action {
    display: flex;
    padding: 69px 84px 64px 84px;
}
.manifest {
  
    margin-top:150PX;
    
    max-width: 574px;
   width: 511px;
    height: 562px;
    margin-left: 100px;
    top: 100px;
   
}
.manifest-title__text{
    display: flex;
    color: #ef7f04;
    font-weight: 700;
    font-size: 36px;
    padding-top: 60px;
  
}
.manifest-text {
    display: flex;
    margin-top: 25px;
}
.manifest-input {
    width: 176px;
    
  ;
} 
.checkbox {
    display: flex;
    
    padding-bottom: 27px;
}

.manifest,form-type{
    width: 50%;
}

.service-block {
    padding-top: 58px;
}
.services-maine {
    position: absolute;
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    margin-top: -800px;
    margin-left: -80px;
    
}
.services {
    position: relative;
    margin-top: 0%;
    margin-left: 0px;
}
 


.services-title {
    
    text-align: center;
    margin-left: -80px;
    margin-top: 60px;
    font-weight: 700;
    font-size: 20px;
    color: #2f2f51;
    margin-bottom: 25px;
 
}
.services_title {
    font-weight: 700px;
    font-size: 20px;
    color: #2f2f51;
    margin: 35px 90px;


}
.services-maine__text{
    margin-left: 25px;
    width: 350px;
}
.content {
    margin-bottom: 10px;
    width: 542px;
    padding: 55px 0 33px 53px;
}
.content p {
    width: 300px;
    
}
.content-title h2 {
    margin-left: 23px;
}
.content-title {
    display: flex;
    
}
.instalation,.glasing-cottege{
    margin-right: 10px;
}
.instalation {
    position: absolute;
    background-image: url(../img/установка.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 617px;
    height: 258px;
    left: 93.5px;
    top:819px ;

background: linear-gradient(90.45deg)
}

.glasing-balcony {
    position: absolute;
    background-image: url(../img/балконы.jpg);
    background-repeat: no-repeat;
    background-size: 770px auto;
    background-position: -20px -20px;
position: absolute;
width: 617px;
height: 258px;
left: 717.5px;
top: 819px;


background: linear-gradient(90.45deg)
}
.glasing-cottege {
    position: absolute;
    background-image: url(../img/дачи.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 617px;
    height: 258px;
    left: 93.5px;
    top: 1083px;
    

background: linear-gradient(90.45deg)

}
.glasing-corp {
    position: absolute;
background-image: url(../img/корп.объект.jpg);
background-repeat: no-repeat;
background-size: cover;
position: absolute;
width: 617px;
height: 258px;
left: 717.5px;
top: 1083px;
background: linear-gradient(90.45deg)

}
.c{
    color: #FFFFFF;
    padding-top: 10px;
    

}
.leftfoto{
    float:right;
    padding: 35px 10px 10px 35px;
    }